{% extends 'base.html' %}
{% block content %}
&nbsp
<h3 class="text-info text-center">The future is green energy, sustainability, renewable energy.</h3>
&nbsp
<h1 class="mt4 mb-4 text-center">About Us</h1>

<table class="table">
  <thead>
    <tr>
        <th><img src="/static/images/solar1.jpg"
                 class="rounded-circle border border-info mx-auto d-block" width="250" height="250"></th>
        <th scope="col">
            <p class="text-center text-secondary">
                Our team of experts is dedicated to providing comprehensive solutions to our clients,
                regardless of the energy technology they choose.<br>
                From the early stages of design to ongoing operations management,
                we bring our knowledge and expertise to every aspect of the project,
                ensuring that it meets the highest standards of quality and transparency.
            </p>
        </th>
        <br>
    </tr>
  </thead>
</table>
<table class="table">
  <thead>
    <tr>
        <th scope="col">
            <p class="text-center text-secondary">
                Whether it's solar, wind, or any other form of energy,
            we have the experience and capabilities to deliver exceptional results.
            Our commitment to excellence extends beyond just the technology,
            and we strive to create solutions that are sustainable, cost-effective,
            and beneficial for both our clients and the communities they serve.
            </p>
        </th>

        <th><img src="/static/images/windturbine1.jpg"
                 class="rounded-circle border border-info mx-auto d-block" width="250" height="250"></th>
    </tr>
  </thead>
</table>
{% endblock %}