{% extends 'base.html' %}
{% block content %}

<h3 class="text-info text-center">The wind and the sun are the future of energy!</h3>
&nbsp
<h4 class="text-center">Our services</h4>
<img src="/static/images/windturbine.jpg"
     class="rounded-circle border border-info mx-auto d-block"
     alt="Responsive image" height="200" width="200">
&nbsp
<p class="text-center text-secondary">
    Wind turbines are devices that generate electricity from the wind's kinetic energy,
    typically consisting of a tower, rotor blades,
    and a nacelle housing the generator.</p>
&nbsp
<img src="/static/images/solar.jpg"
     class="rounded-circle border border-info mx-auto d-block"
     alt="Responsive image" height="200" width="200">
&nbsp
<p class="text-center text-secondary">
    Solar panels generate electricity from sunlight.
    They're renewable, reduce carbon emissions, and promote energy independence.
    Photovoltaic cells convert sunlight into electricity.
</p >
{% endblock %}
