{% extends 'base.html' %}
{% block content %}
&nbsp
<h1 class="mt4 mb-4 text-center">The services we provide</h1>
&nbsp
<p class="text-center text-secondary">
    At the heart of every successful project lies collaboration and partnership.
    For us, community engagement is a key ingredient in the development of sustainable solutions,
    and we take great care to involve local stakeholders every step of the way.
</p>
<img src="/static/images/turbine.gif" class="rounded-circle text-center mx-auto d-block">
&nbsp
<p class="text-center text-secondary">
    By working closely with community members,
    we gain valuable insights and are better able to design projects that not
    only meet their needs but also contribute to the well-being of the area as a whole.
</p>
&nbsp
<img src="/static/images/solar.gif" class="rounded-circle text-center mx-auto d-block">
&nbsp
<p class="text-center text-secondary">
    Whether we are working on wind projects or other initiatives,
    our commitment to collaboration and partnership remains steadfast,
    as we recognize that only by working together can we achieve truly meaningful and lasting impact.
</p>
&nbsp
{% endblock %}